# Pandas Refresher

In your first problem set, you'll be using the [King County Housing dataset]('https://www.kaggle.com/datasets/shivachandel/kc-house-data'). This dataset contains information about the sales of residences (homes, condos, apartment buildings) within King County, WA (the county containing Seattle) from the 2014-2015 period.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [23]:
housing_df = pd.read_csv('https://raw.githubusercontent.com/GettysburgDataScience/datasets/refs/heads/main/kc_house_data.csv', parse_dates = ['date'])
housing_df['day'] = housing_df['date'].dt.day
housing_df['month'] = housing_df['date'].dt.month
housing_df['year'] = housing_df['date'].dt.year

In [24]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
 21  day            21613 non-null  int32
 22  month          21613 non-null  int32
 23  year           21613 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(3), int64(15)
memory usage: 3.7 MB

In [25]:
housing_df[['date', 'day', 'month', 'year']]

            date  day  month  year
0     2014-10-13   13     10  2014
1     2014-12-09    9     12  2014
2     2015-02-25   25      2  2015
3     2014-12-09    9     12  2014
4     2015-02-18   18      2  2015
...          ...  ...    ...   ...
21608 2014-05-21   21      5  2014
21609 2015-02-23   23      2  2015
21610 2014-06-23   23      6  2014
21611 2015-01-16   16      1  2015
21612 2014-10-15   15     10  2014

[21613 rows x 4 columns]

## Finding information

- **[Google](https://www.google.com)** - Better than ChatGPT for most things and only 10% of the energy consumption on a query basis. THINK OF THE TREES!
- **[DuckDuckGo](https://www.duckduckgo.com)** - Like Google but without storing and using your data.

## Common Pandas Functions

### Data Exploration
- **[head()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)** - Returns the first n rows of a DataFrame (default is 5 rows). Useful for quickly previewing data.

- **[tail()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html)** - Returns the last n rows of a DataFrame (default is 5 rows). Helpful for checking the end of your dataset.

- **[info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)** - Displays a concise summary of a DataFrame, including column names, data types, non-null counts, and memory usage.

- **[describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)** - Generates descriptive statistics for numerical columns (count, mean, std, min, 25%, 50%, 75%, max).

- **[unique()](https://pandas.pydata.org/docs/reference/api/pandas.unique.html)** - Returns unique values.

### Data Selection and Filtering
- **[loc[]](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)** - Label-based indexing for selecting rows and columns by labels or conditions.

- **[iloc[]](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)** - Integer location-based indexing for selecting rows and columns by position.

- **[query()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)** - Filters DataFrame rows using a query string expression, allowing for conditional selection with a more readable syntax.

### Data Cleaning
- **[fillna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)** - Fills missing values with a specified value or method.

- **[dropna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)** - Removes rows or columns with missing values.

- **[drop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)** - Removes specified rows or columns from a DataFrame.

### Data Transformation and Aggregation
- **[groupby()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)** - Groups DataFrame rows by one or more columns, enabling aggregation and analysis by group.

- **[agg()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)** - Applies one or more aggregation functions to DataFrame columns, often used with `groupby()` for grouped statistics.

- **[apply()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)** - Applies a custom function along an axis of the DataFrame (row-wise or column-wise), enabling flexible data transformations.

- **[sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)** - Sorts DataFrame rows by one or more columns.

- **[value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)** - Returns counts of unique values, useful for categorical analysis.

### Data Combining
- **[merge()](https://pandas.pydata.org/docs/reference/api/pandas.merge.html)** - Combines two DataFrames based on common columns or indices (like SQL JOIN).

- **[concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)** - Concatenates multiple DataFrames along rows or columns, useful for combining datasets with the same structure.

## Visualization

[This chart](https://www.data-to-viz.com/) may help you decide on how you would want to visualize your data.
Then, visit **[Matplotlib Gallery](https://matplotlib.org/stable/gallery/index.html)**, find the type of chart you want to make and template your code based on the examples.

## Together Questions

 - How many listings are recorded in this dataframe? 
 - How many of them have between 2-5 bedrooms and 1+ bathrooms?

 - I'm looking for a house with 3-5 bedrooms and 2+ bathrooms. Where should I look?
 - What can I expect to pay for a 1500 sq ft house in this neighborhood?

## Practice Questions

*Think before you code.* For each problem below, discuss the steps you would take and find the corresponding functions. Write out your plan in the markdown cell with the question.


**1**
- What is the range of values for number of bedrooms, number of bathrooms, and square footage?
- If we were only interested in single family homes, how might you filter the dataset?

**2**

- How many houses were sold for more than $500,000?
- What is the average price of houses with 3 or more bedrooms?

**3**

- What is the average price per number of bedrooms? 
- What is the average price per number of bedrooms for each zip code? How would you effectively convey this information?

**4**

 - Create a plot that conveys some difference (your choice) between zip codes (e.g. price/sq ft, number of houses sold, lot size, grade). 
 - The plot(s) should show the spatial relationship between zip codes with only one data point per zip code (that is, you're not displaying individual sales).

**5**

 - House flippers buy houses in need of repair/renovation, fix them up quickly, and resell them. Identify sales that would have been good candidates for flipping.
   - Consider, the house doesn't have to be cheap, it just has to have the potential to sell for more. How do you quantify that?
 - Create a graphic for prospective home flippers. What information would be useful for them to know? How would you show that?

**6**

 - Think of a particular audience (e.g. home seller, home buyer, real estate agent, etc) and identify a question or want they may have. Create a graphic to address that question/want.